.pragmatic_header_logo{
    margin: 2rem 0; font-family: 'Anton', sans-serif;
}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_button{
    margin-top:1.5rem;
}

.pragmatic_footer_logo{
    margin: 1.5rem 0; font-family: 'Anton', sans-serif;
}

/* 회원가입, 로그인창에 있는 박스 페딩과 폭을 조정 */
.mw-500{
    padding: 1rem 1.5rem;
    max-width: 500px;

}
.profile_image{
    height: 12rem;
    width : 12rem;
    border-radius: 20rem;
    object-fit: cover;
    /*  이미지가 왜곡되지 않은상태에서 볼 수 있음   */
}
.NNS_B{
    font-family: "NanumSquareB", cursive;
/*   나눔체로 쓰고 안될시  cursive 로 씀*/
}