{% extends 'bbase.html' %}

{% block content %}

    <div class = "text-center">
        <div class="m-5">
            <h4> Sign up</h4>
        </div>
        <div>
{# 'popo:create'라는 말은 popo-urls의 'appname : name'를 이용하여 역추적하는것 이므로 urls 확인!! #}
            <form action="{% url 'popo:create' %}" method="post">
                {%  csrf_token %}
                {{ form }}
                <div>
                    <input type="submit"
                           class="btn btn-dark rounded-pill px-5">
                </div>



            </form>
        </div>



    </div>




{% endblock %}
